/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* global  */
body{
    font-family: 'Poppins', sans-serif;
}
/* header style  */
.header-bg{
    background-color: rgba(38, 70, 83, 1);
}
.btn-bg{
    background-color: rgba(231, 111, 81, 1);
}
/* main section  */
.text-orange{
    color: rgba(231, 111, 81, 1);
}

.grayscale{
    filter: grayscale(100%);
}
.btn-outline{
    border: 1px solid rgba(231, 111, 81, 1);
    background-color: #fff;
    color: rgba(231, 111, 81, 1);
}
.btn-outline:hover{
    background-color: rgba(231, 111, 81, 1);
    color: #fff;
}
.text-gray{
    color: rgba(126, 132, 140, 1);
}